<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>49268819441-dmei290ldgucccdf1n5m01rkr5pg3dk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49268819441-dmei290ldgucccdf1n5m01rkr5pg3dk2</string>
	<key>API_KEY</key>
	<string>AIzaSyDikyOVrd6EqSPH7eLyXAmjd9lbJmXrnd4</string>
	<key>GCM_SENDER_ID</key>
	<string>49268819441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recicluber</string>
	<key>PROJECT_ID</key>
	<string>recicluder-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>recicluder-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49268819441:ios:8babc65cc582fc15</string>
	<key>DATABASE_URL</key>
	<string>https://recicluder-ios.firebaseio.com</string>
</dict>
</plist>